<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ứng dụng quản lý sách</title>
    <th:block th:replace="layout :: link-css"></th:block>
</head>
<body>
<th:block th:replace="layout :: header"></th:block>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/books">Trang chủ ứng dụng quản lý sách</a>
        </div>
    </nav>
</div>
<th:block th:replace="layout :: footer"></th:block>
</body>
</html>